.base {
  width: 350px;
  height: auto;
  margin: 50px auto;
  border: 3px solid #5f5f5f;
  border-radius: 50px;
  color: #5f5f5f;
  background-color: #8ec8d8;
  font: 14px "Inconsolata", monospace;
}

.header {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.header input {
  width: 300px;
  height: 30px;
  padding-left: 15px;
  font: 14px "Inconsolata", monospace;
  border: 1px solid #5f5f5f;
  border-radius: 10px;
}
.header h1 {
  margin-bottom: 0;
}
.header h2 {
  margin-top: 15px;
}
.header h3 {
  margin-top: 5;
}

.sort {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}
.sort_btns {
  margin: 15px 0 25px 0;
  display: flex;
}
.sort_btn {
  font: 14px "Inconsolata", monospace;
  color: #5f5f5f;
  background-color: #cde3e9;
  border: 1px solid #5f5f5f;
  border-radius: 10px;
  cursor: pointer;
}
.sort_btn:focus {
  background-color: #d3ba9e;
}
.sort_date {
  display: flex;
}
.sort_date__btn {
  border: none;
  background-color: #8ec8d8;
  padding: 0;
  margin: 0;
  cursor: pointer;
}
.sort_date__btn img {
  width: 25px;
  height: 25px;
  padding: 0;
  margin: 0;
  border: none;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
  margin: 0 0 23px 0;
}

.page-item {
  display: flex;
  list-style-type: none;
  padding: 3px;
}
.page-item_btn {
  color: #5f5f5f;
  font: 14px "Inconsolata", monospace;
  border: 1px solid #5f5f5f;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.page-item_btn:focus {
  background-color: #d3ba9e;
}